@charset "UTF-8";

.link{
    color: #2c3e50;
}

.link:hover{
    color: #ffffff;
}
.carousel-control-prev:hover,
.carousel-control-next:hover{
    background-color: rgba(160, 160, 160, 0.6)!important;
}


.carousel-indicators .active{
    background-color: black
}
